<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="toptnacitakipson.Properties.Settings.Kullanıcı_GirişiConnectionString"
            connectionString="Data Source=DESKTOP-ELT3SDS;Initial Catalog=Kullanıcı_Girişi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>